<?xml version='1.0' encoding='utf-8'?>
<!--
  HyperBackup X Agent - Legacy (Win7 x86_64-pc-windows-gnu) Installer
  Target: Windows 7 SP1 x86_64
  CRT: Static linking (no runtime dependency)
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='*' Name='HyperBackup X Agent (Legacy)' Language='1033' Version='0.1.0'
           Manufacturer='HyperBackupX' UpgradeCode='a1b2c3d4-e5f6-7890-abcd-ef1234567890'>
    <Package InstallerVersion='301' Compressed='yes' InstallScope='perMachine'
             Description='HyperBackup X Agent for Windows 7 (Legacy)'/>
    <Media Id='1' Cabinet='agent_legacy.cab' EmbedCab='yes'/>
    <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR'/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFiles64Folder' Name='PFiles64'>
        <Directory Id='INSTALLDIR' Name='HyperBackupX'>
          <Component Id='AgentExe' Guid='*' Win64='yes'>
            <File Id='AgentExeFile' Name='hbx-agent.exe' Source='$(var.BuildDir)\hbx-agent.exe' KeyPath='yes'/>
          </Component>
          <Component Id='XtaskExe' Guid='*' Win64='yes'>
            <File Id='XtaskExeFile' Name='xtask.exe' Source='$(var.BuildDir)\xtask.exe' KeyPath='yes'/>
          </Component>
          <Component Id='ReadmeFile' Guid='*' Win64='yes'>
            <File Id='Readme' Name='README.txt' Source='$(var.BuildDir)\README.txt' KeyPath='yes'/>
          </Component>
          <Directory Id='CertDir' Name='certs'>
            <Component Id='CertDirComp' Guid='*' Win64='yes'>
              <CreateFolder Directory='CertDir'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id='ProgramMenuFolder' Name='Programs'>
        <Directory Id='ProgramMenuDir' Name='HyperBackup X'>
          <Component Id='ShortcutComp' Guid='*'>
            <Shortcut Id='AgentShortcut' Name='HBX Agent' Target='[INSTALLDIR]hbx-agent.exe'
                      WorkingDirectory='INSTALLDIR' Icon='agent.ico'/>
            <RemoveFolder Id='ProgramMenuDir' On='uninstall'/>
            <RegistryValue Root='HKCU' Key='Software\HyperBackupX' Name='installed' Type='integer' Value='1' KeyPath='yes'/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id='TARGETDIR'>
      <Component Id='RegistryComp' Guid='*' Win64='yes'>
        <RegistryKey Root='HKLM' Key='Software\HyperBackupX\Agent'>
          <RegistryValue Name='InstallDir' Type='string' Value='[INSTALLDIR]'/>
          <RegistryValue Name='Version' Type='string' Value='0.1.0'/>
          <RegistryValue Name='Tier' Type='string' Value='legacy'/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <Feature Id='Complete' Title='HyperBackup X Agent (Legacy)' Level='1'>
      <ComponentRef Id='AgentExe'/>
      <ComponentRef Id='XtaskExe'/>
      <ComponentRef Id='ReadmeFile'/>
      <ComponentRef Id='CertDirComp'/>
      <ComponentRef Id='ShortcutComp'/>
      <ComponentRef Id='RegistryComp'/>
    </Feature>

    <Icon Id='agent.ico' SourceFile='$(var.BuildDir)\agent.ico'/>
    <Property Id='ARPPRODUCTICON' Value='agent.ico'/>

    <UI>
      <UIRef Id='WixUI_InstallDir'/>
    </UI>

    <CustomAction Id='StartAgent' Directory='INSTALLDIR'
                  ExeCommand='[INSTALLDIR]hbx-agent.exe --install-service'
                  Return='ignore'/>
    <InstallExecuteSequence>
      <Custom Action='StartAgent' After='InstallFinalize'>NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>